*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.wrapper1{
  width: 1195px;
  margin: 0 auto;
  height: 88px;
  padding-bottom: 15px;
}
.wrapper1-logo{
  width: 1195px;
  margin: 0 auto;
  height: 121px;
  background-color: #fff;
}

.logo{
  width: 120px;
  height: 50px;
  text-align: center;
  color: #242c6b;
  font-weight: bold;
  float: left;
  font-size: 50px;
  line-height: 103px;
  margin-left: 10px;
  margin-right: 150px;
}

.text{
  float: left;
  width: 600px;
  height: 40px;
  margin: 30px 100px 0 30px;
  background-color: #95b6ff;
  border: 1px solid #396ad5;
  text-align: center;
  color: #ffffff;
  line-height: 16px;
  font-size: 20px;
}
.text p{
  line-height: 40px;
}

.logout{
  float: left;
  font-size: 15px;
  line-height: 103px;
  margin-left: 120px;
  text-decoration: none;
}

.wrapper2{
  width: 100%;
  height: 75px;
  background-color: #f0f5fa;
  border-top: 2pt solid #6C6C6C;
  text-align: center;
  line-height: 75px;
  padding-top: 10px;
}
.wrapper2_div{
  width: 1195px;
  height: 75px;
  margin: 0 auto;
}
#top2_1{
  width: 190px;
  height: 75px;
  background-color: #f0f5fa;
  text-align: center;
  color: #6C6C6C;
  font-weight: bold;
  font-size: 20pt;
  float: left;
  margin-left: 110px;
  margin-right: 4px;
}
.nav{
  list-style: none;
}
.nav .list_item1{
  float: left;
  margin: 0 10px;
  height: 25px;
  line-height: 75px;
}
.nav .list_item2{
  float: left;
  margin: 0 10px;
  height: 25px;
  line-height: 75px;
}

.nav .list_item1 a{
  float: left;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 70px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #537dd7;
  color: white;
  font-weight: bold;
  font-size: 20pt;
  border-radius: 4px;
  text-align: center;
}
.nav .list_item2 a{
  float: left;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 70px;
  text-decoration: none;
  color: #6C6C6C;
  font-size: 20pt;
  border-radius: 4px;
  text-align: center;
}
.nav .list_item1 a:hover{
  background-color: white;
  color: #adc7ff;
}
.nav .list_item2 a:hover{
  background-color: white;
  color: #adc7ff;
}
.wrapper2_div em{
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  color: #6C6C6C;
  font-size: 20pt;
  float: left;
  line-height: 75px;
}









.container{
  width: 100%;
  height: auto;
  padding-top: 2px;
  display: block;
}
.container_div{
  display: block;
  width: 1195px;
  height: auto;
  margin: 0 auto;
  border: 2px solid #adc7ff;
  text-align: center;
  font-size: 20pt;
  padding-top: 10pt;
}

.container_input{
  height: 50px;
  display: block;
  text-align: left;
}
.container_checkbox{
  height: 50px;
  display: block;
  text-align: left;
  font-size: 14pt;
}
.container .container_div .container_input label{
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  margin-right: 20px;
  font-size: 18pt;
}
.container .container_div .container_input input{
  width: 800px;
  height: 30px;
  line-height: 50px;
  font-size: 14pt;
  color: #999;
  padding-left: 10px;
  vertical-align: middle;
}

.container .container_div .container_checkbox label{
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  margin-right: 20px;
  font-size: 18pt;
}
.container .container_div .container_checkbox input{
  width: 50px;
  height: 30px;
  line-height: 50px;
  font-size: 30pt;
  color: #999;
  vertical-align: middle;
}

.cloud_radio{
  zoom: 70%;
  width: 40px;
  height: 30px;
  margin-bottom: 4pt;
}
.model_radio{
  zoom: 70%;
  width: 40px;
  height: 30px;
  margin-bottom: 4pt;
}
#datasets{
  width: 700px;
  height: 30px;
  font-size: 15pt;
}



.container_submit{
  width: 1195px;
  margin: 0 auto;
  height: 80px;
  margin-top: 30px;
  display: block;
}
.container_submit1{
  height: 80px;
  width: 1000px;
  margin: 0 auto;
}
.container_submit1 button{
  vertical-align:middle;
  height: 60px;
  line-height: 60px;
  font-size: 15pt;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #d3e1ff;
  border: 2pt solid #8fb2ff;
  margin-right: 50px;
}

.container_submit2{
  position: relative;
  bottom: 70px;
  right: 300px;
  float: right;
}
#history{
  text-decoration: none;
  font-size: 13pt;
  text-align: center;
  color: #141414d7;
}



.container_log{
  height: auto;
  width: 1195px;
  padding-bottom: 30px;
}
.container .container_div .container_log label{
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  margin-right: 20px;
  font-size: 18pt;
}
.container .container_div .container_log textarea{
  display: inline-block;
  font-size: 30pt;
  width: 815px;
  padding-left: 10px;
  vertical-align: top;
}




.container_results{
  height: auto;
  width: 1195px;
  padding-bottom: 30px;
}
.container .container_div .container_results label{
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  margin-right: 20px;
  font-size: 18pt;
}
.container .container_div .container_results textarea{
  font-size: 30pt;
  width: 815px;
  padding-left: 10px;
  vertical-align: top;
}




#final_result{
  display: block;
  font-style: bold;
  width: 1195px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 20pt;
  margin-top: 10pt;
  margin-bottom: 30pt;
  background-color: #f0f5fa;
}

.wrapper3{
  width: 1195px;
  margin: 40px auto;
  height: 50px;
}
.footer p{
  color: #6c6c6c;
  font-size: 12px;
}
.footer a{
  float: left;
  margin-right: 15px;
  color: #6c6c6c;
}
.footer b{
  float: left;
  margin-right: 15px;
  color: #ddd;
}
