*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.wrapper1{
  width: 1195px;
  margin: 0 auto;
  height: 88px;
  padding-bottom: 15px;
}
.wrapper1-logo{
  width: 1195px;
  margin: 0 auto;
  height: 121px;
  background-color: #fff;
}

.logo{
  width: 120px;
  height: 50px;
  text-align: center;
  color: #242c6b;
  font-weight: bold;
  float: left;
  font-size: 50px;
  line-height: 103px;
  margin-left: 10px;
  margin-right: 150px;
}

.text{
  float: left;
  width: 600px;
  height: 40px;
  margin: 30px 100px 0 30px;
  background-color: #95b6ff;
  border: 1px solid #396ad5;
  text-align: center;
  color: #ffffff;
  line-height: 16px;
  font-size: 20px;
}
.text p{
  line-height: 40px;
}

.logout{
  float: left;
  font-size: 15px;
  line-height: 103px;
  margin-left: 120px;
  text-decoration: none;
}





.wrapper2{
  width: 100%;
  height: 75px;
  background-color: #f0f5fa;
  border-top: 2pt solid #6C6C6C;
  text-align: center;
  line-height: 75px;
  padding-top: 10px;
}
.wrapper2_div{
  width: 1195px;
  height: 75px;
  margin: 0 auto;
}
#top2_1{
  width: 190px;
  height: 75px;
  background-color: #f0f5fa;
  text-align: center;
  color: #6C6C6C;
  font-weight: bold;
  font-size: 20pt;
  float: left;
  margin-left: 110px;
  margin-right: 4px;
}
.nav{
  list-style: none;
}
.nav .list_item1{
  float: left;
  margin: 0 10px;
  height: 25px;
  line-height: 75px;
}
.nav .list_item2{
  float: left;
  margin: 0 10px;
  height: 25px;
  line-height: 75px;
}
.nav .list_item1 a{
  float: left;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 70px;
  text-decoration: none;
  border: 1px solid #537dd7;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-weight: bold;
  font-size: 20pt;
  border-radius: 4px;
  text-align: center;
}
.nav .list_item2 a{
  float: left;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 70px;
  text-decoration: none;
  border: 1px solid #537dd7;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-weight: bold;
  font-size: 20pt;
  border-radius: 4px;
  text-align: center;
}
.nav .list_item1 a:hover{
  background-color: white;
  color: #adc7ff;
}
.nav .list_item2 a:hover{
  background-color: white;
  color: #adc7ff;
}
.wrapper2_div em{
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  color: #6C6C6C;
  font-size: 20pt;
  float: left;
  line-height: 75px;
}

.container{
  width: 100%;
  height: 500px;
  padding-top: 2px;
}
.container_div{
  width: 1195px;
  height: 500px;
  line-height: 500px;
  margin: 0 auto;
  border: 2px solid #adc7ff;
  text-align: center;
  font-size: 20pt;
}



.wrapper3{
  display: block;
  width: 1195px;
  margin: 40px auto;
  height: 50px;
}
.footer p{
  color: #6c6c6c;
  font-size: 12px;
}
.footer a{
  float: left;
  margin-right: 15px;
  color: #6c6c6c;
}
.footer b{
  float: left;
  margin-right: 15px;
  color: #ddd;
}
